Examples/Controls Example/SwipeViewExample.xcodeproj/xcuserdata/**
Examples/Paging Example/SwipeViewExample.xcodeproj/xcuserdata/**
Examples/Controls Example/SwipeViewExample.xcodeproj/project.xcworkspace/**
Examples/Paging Example/SwipeViewExample.xcodeproj/project.xcworkspace/**
